<h1>Join Our Newsletter!</h1>
<p>Enter your email and get monthly updates and promotional offers</p>
<form class="" action="http://localhost:4567/success" method="GET">
    <input type="email" name="email" placeholder="email@example.com">
    <input type="submit" value="submit">
</form>
