
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="background-color: rgb(208, 206, 208);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4567/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:4567/cakes">Cakes</a>
          <a class="dropdown-item" href="http://localhost:4567/cookies">Cookies</a>
          <a class="dropdown-item" href="http://localhost:4567/cupcakes">Cupcakes</a>
          <a class="dropdown-item" href="http://localhost:4567/specialty">Specialty Cakes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4567/contact">Contact</a>
      </li>
    </ul>
    <!-- <a class="navbar-brand" href="#"><img src="\imgs\logo\logo.png" alt="" width= "100" height="30"></a> -->

  </div>
</nav>
<div class="logo" style="text-align:center; margin-bottom: 20px;">
  <img src="\imgs\logo\logo.png" alt=""  width= "250" height="150">
</div>
