body {
  background-color: rgb(234, 204, 255)!important;
}

 nav {
   margin: 0px 0 20px 0;
   top:0;
}

.navbar > img {
  height: 40px;
  width: 40px;
}

.logo  {
  top: 0;
  margin-top: 0;
}

.logo > img  {
  top: 0;
  margin-top: 0;
}

.carousel-item > img {
  opacity: .7 !important;
  height: 400px;
  width: auto;
}

.carousel-caption > h6 {
  color: black;
  font-weight: 600 !important;

}

 #caption {
  color: black !important;
  font-size: 1.4em !important;

}

.row > .col {
  text-align: center;
  height: 350px !important;
  width: 200px !important;
  margin: 20px 5px 20px 5px;
}


.col > img {
  height: 200px;
  width: 200px;
  margin: 20px 0 20px 0;
  padding: 5px;
  border: 1px solid rgb(127, 128, 127);
}

.col:hover{
  opacity: .9;
}

.col > h5 {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 1.6em;

}

.container {
  border-right: 1px solid black;
  border-left: 1px solid black;

}

h1 {
  font-family: 'Black And White Picture', sans-serif;
  text-align: center;
  margin: 25px 0 25px 0;
}

p {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

form {
  margin: 0 0 0 40% !important;
  display: inline;
}

#footer-form {
  /* margin: 0 0 0 40% !important; */
  display: inline;
}

#footer-input {
  margin-top: 0;
}

input {
  margin-top: 10%;
}
